<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="DefaultBrowser" value="Chrome" />
    <add key="DefaultUrl" value="https://www.google.co.nz/" />
    <add key="DefaultImplicitlyWait" value="10" />
    <add key ="TestFolder" value="C:\wall\"/>
  </appSettings>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>