<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  

  <appSettings>
    <add key="UseRemoteBrowser" value="true" />
    <!-- See DriverService.cs file to find out all supported browsers -->
    <add key="DefaultBrowser" value="Firefox" />
    <!-- See Url under test -->
    <add key="DefaultUrl" value="http://www.google.co.nz/" />
    <!-- Set default global what time for Selenium -->
    <add key="DefaultImplicitlyWait" value="3" />
    <!-- Set folder where report will be generated -->
    <add key="TestFolder" value="C:\Report\" />
    <!-- Enable Selenium logging - picture and etc.-->
    <add key="UseLogging" value="true" />
  </appSettings>

  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>