<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
	<appSettings>
    <!-- Use false for local browsers, true for selenium grid and mobile-->
    <!-- See DriverService.cs/RemoteDriverService.cs file to find out all supported browsers -->
    <add key="Browser" value="chrome" />
    <!-- Url under test -->
    <add key="DefaultUrl" value="https://dev.whisk.com/" />
    <add key="RemoteDriverHubUrl" value="http://localhost:4444/wd/hub" />
    <!-- Set folder where report will be generated -->
    <add key="TestFolder" value="C:\Report\" />
    <add key="ScreenshotsFolder" value="C:\Report\" />
    <!-- Enable Selenium logging - pictures and etc.-->
    <add key="UseLogging" value="true" />
	</appSettings>
</configuration>